.analyst_rating {
    background-image: url('../images/robinhold_analyst_ratings_testing.jpg');
    background-repeat: no-repeat;
    height: 350px;
}

.detail_label {
    font-size: 16px;
    font-weight: bold;
}

.earnings {
    background-image: url('../images/robinhold_earnings_testing.jpg');
    background-repeat: no-repeat;
    height: 225px;
    margin-left: 15px;
}

.header_label {
    border-bottom: 1px groove gray;
    padding-bottom: 5px;
    padding-top: 3%;
}

#news_list {
    padding-bottom: 8px;
}

.single_stock_wrapper {
    /* margin: 20px; */
    margin-top: 50px;
    margin-left: 200px;
    width: 900px;
    display: flex;
    /* grid-template-columns: repeat(2, 1fr); */
}

.stock_details {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 20px 0px 20px 0px;

}

.stock_description {
    margin: 20px 0px 20px 0px;
    padding-top: 5px;
}

.detail_details {
    margin-top: 5px;
    margin-bottom: 15px;
}

.watchlist {
    padding: 5px;
}

.top-portion{
    display: flex;
    flex-direction: row;
}

.stock-graph{
    margin-right: 100px;
}

.transaction-wrapper{
    margin-bottom: 100px;
}


.left-side{
    margin-right: 350px;
}

.BS-button{
    background-color: grey;
    border: solid green 1px;
}

.trsc-type{
    cursor: pointer;
    border-bottom: 2px solid transparent;
    padding: 15px 0;
    border: solid green 1px;
}

.trsc-type.active-trsc-type{
    cursor: default;
    border-bottom: 10px solid rgb(54, 112, 54);
}
