
.header__wrapper {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.header__left {
  display: flex;
  align-items: center;
  border-right: 1px solid black;
  padding: 6px;
  background-color: white;
}

.header__right {
  display: flex;
  align-items: center;
  background-color: white;
}

.header__button {
  display: flex;
  margin-right: 10px;
  margin-left: 10px;
  justify-content: center;
  padding: 12px;
  border: 1px solid black;
  border-radius: 20px;
  text-decoration: none;
  width: 75px;
  color: white;
  background-color: black;
  font-size: 14px;
  font-weight: 600;

}

.header__button:hover {
  color: #0dc80b;
  background-color: black;
}

.header__name {
  font-size: 25px;
  font-weight: 500;
  padding: 5px 5px 2px 10px;
  text-decoration: none;
  color: black;
  background-color: white;
}

.header__logo {
  width: 40px;
  background-color: white;
}

.page__wrapper {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.body__session1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../images/background01.jpeg');
  background-size: cover;
  /* background-position: center; */
  background-repeat: no-repeat;
  height: 550px;
  border-top: 1px solid black;
  background-color: white;
}

#body__h1 {
  color: greenyellow;
  font-size: 70px;
  font-weight: 400;
  padding: 30px;
  background-color: transparent;
}

#body__h2 {
  color: greenyellow;
  font-size: 24px;
  font-weight: 400;
  background-color: transparent;
}

.body__button {
  display: flex;
  margin-right: 10px;
  margin-left: 10px;
  justify-content: center;
  padding: 12px;
  border: 1px solid greenyellow;
  border-radius: 20px;
  text-decoration: none;
  width: 85px;
  color: black;
  font-size: 15px;
  font-weight: 600;
  background-color: greenyellow;
  margin: 20px;
}


.body__button:hover {
  color: white;
  background-color: black;
  border: 1px solid black;
}

#body__button_1 {
  color: white;
  background-color: black;
  border: 1px solid black;
}

#body__button_1:hover {
  background-color: rgb(87, 85, 85);
  border: 1px solid rgb(87, 85, 85);
}

#body__button_0:hover {
  background-color: rgb(241, 223, 25);
  border: 1px solid rgb(241, 223, 25);
  color: black;
}

#body__button_3 {
  color: white;
  background-color: black;
  border: 1px solid black;
  width: 150px;
  margin: 10px;
}

#body__button_3:hover {
  background-color: rgb(87, 85, 85);
  border: 1px solid rgb(87, 85, 85);
}

#body__session3 {
  background-image: url('../images/background03.png');
  background-color: transparent;
}

#body__h1-1 {
  color: black;
  font-size: 55px;
  font-weight: 400;
  background: transparent;
}

.navbar__right {
  display: flex;
  align-items: center;
}

.navbar__left {
  display: flex;
  align-items: center;
  padding: 6px;
}

.navbar_link {
  display: flex;
  margin-right: 8px;
  justify-content: center;
  padding: 8px;
  border-radius: 20px;
  text-decoration: none;
  width: 75px;
  color: white;
  font-size: 14px;
  font-weight: 600;
}

.navbar_link:hover {
  color: #0dc80b;
}

.dataResult {
  width: 150px;
  height: 50px;
  background-color: lightgrey;
  /* box-shadow: white 0px 5px 15px; */
  border: white solid 1px;
  overflow: hidden;
  overflow-y: auto;
}

.dataResult::-webkit-scrollbar {
  display: none;
  background-color: lightgrey;
}

.dataResult .dataItem {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  color: black;
  text-decoration: none;
}

.dataItem p {
  margin-left: 10px;
}


.dataItem:hover {
  background-color: lightgrey;
}

.dataResult:hover {
  background-color: lightgrey;
}

#blacknow{
  background-color: black;
}

.dataName {
  background-color: transparent;
}
