.justforwhite {
    background-color: white;
}

.justforwhite1 {
    background-color: white;
    height: max-content;
}

.bblackfwhite {
    color: black;
    background-color: white;
}

.blackblue {
    color: blue;
    background-color: white;
}

.button_field {
    margin-top: 25px;
    display: grid;
    justify-content: left;
    background-color: white;
}

.button {
    display: flex;
    justify-content: center;
    padding: 12px;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    background-color: rgb(0, 0, 0);
    margin-top: 20px;
}

.error_message {
    color: red;
    background-color: white;
    padding-bottom: 10px;
}

.input_field {
    width: 90%;
    height: 6px;
    padding: 1em;
    margin-top: 10px;
    margin-bottom: 25px;
    border-radius: 2px;
    background-color: white;
}

.login_body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 400px;
    background-color: white;
}

.login_context {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 50px 50px 50px 50px;
    background-color: white;
}

.login_header {
    margin-bottom: 20px;
    background-color: white;
}

.login_form {
    background-color: white;
}

.login_wrapper {
    display: flex;
    max-width: fit-content;
    background-color: white;
}

.no_account {
    margin-top: 65px;
    background-color: white;
}

#login_background {
    background-position: top;
    height: 850px;
    width: 600px;
    background-image: url('../images/robinhold_login.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: white;
}

.signup_body {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 50px 50px 50px 50px;
    background-color: white;
    min-height: 750px;
}

#auth_label {
    font-size: larger;
    font-weight: bold;
}