*{
  color:white;
  background-color: black;
}

.body-wrapper{
  background-color: black;
  margin: 0;
  display: grid;
  place-items: center;
  z-index: -1;
}

.body-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;
  padding-top: 36px;
  width: 1024px;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.7);
  color: white;
  /* z-index: 50; */
}



/* ------------LEFT SIDE---------------- */

.portfolio-wrapper{
  flex: 0.7;
  display: flex;
  flex-direction: column;
  background-color: black;
  margin-right: 100px;
}

.pf-left-container {
  flex: 1;
  /* background-color: black; */
  font-size: 12px;
}

.buying-power-header{
  padding: 20px 0px 20px 0px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #3b4754;
  margin-bottom: 60px;
}
.pf-chart-wrapper {
  width: 100%;
  /* margin-right: 100px; */
}

/* --------------------time period-------------------------- */
.timeperiod__container{
  display:flex;
  border-bottom: 1px solid #3b4754;
}


.timeperiod__buttons__container{
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 0px;
}

.timeperiod__button{
  font-weight: bold;
  padding: 10px 10px 20px 10px;
  cursor: pointer;
}

.timeperiod__button:hover {
  color: #5AC53B;
}

/* .timeperiod__button.active {
  color: #5AC53B;
} */

.timeperiod__button.active {
  border-bottom: 2px solid #5AC53B;
}

/* ------------------buying power--------------------- */
.buying-power-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;
}




/* ---------------------RIGHT SIDE----------------------- */
.watchlist-wrapper{
  flex: 0.3;
  display: flex;
  flex-direction: column;
  padding: 0px 30px 30px 30px;
  border: solid white 1px;
}

/* .port_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px;
}

.port_left {
  display: flex;
  flex-direction: column;
}

.LineGraph {
  height: 200px;
}

.page-body-Wrapper{
  background-color: black;
  margin: 0;
  display: grid;
  place-items: center;
}



.portfolio-wrapper {
  flex: 0.7;
  color: white;
}

.chart-header {
  text-align: left;
}

.chart-header h1 {
  margin: 0;
}

.chart-header p {
  margin-top: 0;
}

.pf-chart-wrapper {
  width: 100%;
}

.portfolio-chart-container {
  display: flex;
  flex-direction: column;
}



.timeperiod__container {
  display: flex;
  border-bottom: 1px solid #3b4754;
}

.timeperiod__buttons__container {
  display: flex;
  align-items: center;
}

.timeperiod__button {
  font-weight: bold;
  padding: 10px 10px 20px 10px;
  margin-left : 48px;
  cursor: pointer;
}

.timeperiod__button:hover {
  color: #5ac53b;
  transform: scale(1.05);
}

.timeperiod__button.active {
  color: #5ac53b;
  border-bottom: 2px solid #5ac53b;
} */
