.all-lists-container {
    /* border: solid white 2px; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: rgb(30, 33, 36);
}

#list-general-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#list-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.list-nav-links {
    text-decoration: none;
}

#list-name {
    font-weight: bold;
    font-size: large;
    padding: 5px;
}

#list-name:hover {
    color: #0dc80b;
}

#list-title {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


#watched_stocks_container {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 5px;
}

#watched_stocks_container:hover {
    border: solid 2px rgb(48,54,58);
    border-radius: 12px;
}

#stocks-in-list {
    list-style: none;
    padding: 5px;
}

#watchlist-icons-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.watchlist-page-icon {
    cursor: pointer;
}


.watchlist-page-button {
    cursor: pointer;
    /* padding: 5px; */
    /* background-color: red; */
    border-radius: 10px ;
    /* border: 2px solid #0dc80b; */
}
