.all-lists-container {
    /* border: solid white 2px; */
    width: 350px;
    height: 100%;

    display: flex;
    flex-direction: column;
    /* align-items: stretch; */
    justify-content: space-evenly;
}

#list-general-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#list-header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2px;
    padding-bottom: 5px;
}

/* #list-drop-down {
    position: relative;
}

#list-drop-down {
    position: absolute;
    top: calc(100% + .5rem)
} */

.list-nav-links {
    text-decoration: none;
}

#list-name {}

#list-title {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


#watched_stocks_container {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}


#single_watched_stock {
    list-style: none;
}

.stocks_in_list {
    padding-top: 15px;
    padding-bottom: 15px;
}

.update-delete-button {
    cursor: pointer;
}