#single-watchlist-container {
    /* border: white solid 3px; */
    width: 50%;
    margin: auto;
    margin-top: 80px;
    align-items: center;
}

#single-watchlist-title {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}


#single-watchlist-table {
    width: 100%;
    margin-top: 20px;
}

.table-row-container {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    justify-content: space-between;
}

#each-single-stock {
    cursor: pointer;
}

.single-watchlist-table-name-column {
    width: 50%;
}

.table-symbol-price-columns {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#price-in-single-list {
    padding-right: 0;
}

th {
    padding: 30px 30px 30px 0;
}

td {
    padding: 15px 15px 15px 0;

}

#single-watched-stock-column {
    text-decoration: none;
}

#single-watched-stock-column:hover {
    font-weight: bold;
}
